body {
	font-family: 'Raleway', sans-serif;
	color: #747704;
	font-weight: 700;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 200;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}
